<!DOCTYPE html5>
<html>
<head>
	<title>PHÒNG KHÁM CHUYÊN KHOA - TRANG CHỦ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header>

	<div class="container">

		<div class="logo">
			<div class="logo pull-left">
				<a href="#"><img src="../images/logo.png" alt="Phong kham chuyen khoa"></a>
				<span class="name">PHÒNG KHÁM CHUYÊN KHOA</span><br>
				<span class="title">Vật lý trị liệu - Phục hồi chức năng</span>
			</div>
			<div class="clear"></div>
		</div>

		<div class="header-right">
			<span><img src="../images/icon-phone.png"></span>
			<span>Câu hỏi cho bác sĩ?</span>
			<span>05113941977</span>
		</div>

	</div>
	<hr>
	<nav class="container">
		<div class="menu">
			<ul >
				<li><a href="">TRANG CHỦ</a></li>
				<li><a href="">GIỚI THIỆU</a></li>
				<li><a href="">DỊCH VỤ Y TẾ</a></li>
				<li><a href="">Y HỌC THƯỜNG THỨC</a></li>
				<li><a href="">ĐẶT LỊCH KHÁM</a></li>
				<li><a href="">TƯ VẤN & LIÊN HỆ</a></li>
			</ul>
		
		</div>
		<div class="social">
			<ul >
				<li><a href=""><img src="../images/icon-facebook.png"></a></li>
				<li><a href=""><img src="../images/icon-google.png"></a></li>
				<li><a href=""><img src="../images/icon-youtube.png"></a></li>
			</ul>
		</div>
	</nav>
	<div class="banner">
		<div class="container">
		<div class="in-page">
			<span>TRANG CHỦ / DỊCH VỤ Y TẾ</span>
		</div>
			
		</div>
	</div>
</header>

<main class="container">
	<aside>
		<ul>
			<li>NGƯỜI LỚN</li>
				<ul>
					<li>Đau cổ-vai-tay</li>
					<li>Đau cột sống</li>
					<li>Thoát vị đĩa đệm</li>
					<li>Khớp gối, khớp hông</li>
					<li>Đau chân</li>
					<li>Các bênh về cơ</li>
					<li>Thần kinh ngoại biên</li>
					<li>Di chứng tai biến mạch máu não</li>
					<li>Di chứng chấn thương</li>
				</ul>	
			<li>TRẺ EM</li>	
		</ul>

		<div class="form">
		<h3>ĐẶT LỊCH KHÁM</h3>
			<form action="" method="">
				<input type="text" name="fullname" placeholder="Họ & Tên"><br>
				<input type="text" name="address" placeholder="Địa chỉ"><br>
				<input type="text" name="phone-number" placeholder="Số điện thoại"><br>
				<input type="datetime-local" name="time" placeholder="Thời gian"><br>
				<input type="submit" value="ĐẶT LỊCH">
			</form>
		</div>
	</aside>

	<div class="content">
		<div class="news">
			<div class="image">
				<img src="../images/new-1.jpg" alt="news-1">
			</div>
			<div class="description">
				<h3>ĐAU CỔ VAI TAY</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-2.jpg" alt="news-2">
			</div>
			<div class="description">
				<h3>ĐAU CỘT SỐNG</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-3.jpg" alt="new-3">
			</div>
			<div class="description">
				<h3>THOÁI VỊ ĐĨA ĐỆM</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-4.jpg" alt="new-4">
			</div>
			<div class="description">
				<h3>CHẬM NÓI</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-5.jpg" alt="new-5">
			</div>
			<div class="description">
				<h3>CHẬM NÓI</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-6.jpg" alt="new-6">
			</div>
			<div class="description">
				<h3>CHẬM NÓI</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-7.jpg" alt="new-7">
			</div>
			<div class="description">
				<h3>CHẬM NÓI</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-8.jpg" alt="new-8">
			</div>
			<div class="description">
				<h3>CHẬM NÓI</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>

		<div class="news">
			<div class="image">
				<img src="../images/new-9.jpg" alt="new-9">
			</div>
			<div class="description">
				<h3>CHẬM NÓI</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
			</div>
			<span><img src="../images/arrow.png"></span>
		</div>
	</div>
</main>

<footer>
	<div class="content">
		<div class="information">
			<div class="footer-row">
				<span>VỀ PHÒNG KHÁM</span>
				<ul>
					<li>GIỚI THIỆU CHUNG</li>
					<li>NHÂN LỰC</li>
					<li>TRANG THIẾT BỊ VÀ CƠ SỞ VẬT CHẤT</li>
				</ul>
			</div>
			<div class="footer-row">
				<span>HỖ TRỢ</span>
				<ul>
					<li>TƯ VẤN SỨC KHỎE</li>
					<li>Y HỌC THƯỜNG THỨC</li>
					<li>ĐẶT LỊCH KHÁM</li>
				</ul>
			</div>
			<div class="footer-row">
				<span>KẾT NỐI XÃ HỘI</span>
				<ul>
					<li><img src="../images/icon-facebook.png">FACEBOOK</li>
					<li><img src="../images/icon-google.png">GOOGLE+</li>
					<li><img src="../images/icon-youtube.png">YOUTUBE</li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<span class="left">@2015 - BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN ĐA KHOA</span>
			<span class="right">PHÁT TRIỂN BỞI </span><span>KOVO.VN</span>
		</div>
	</div>
</footer>

</body>
</html>